<h1>Create Team for Contest</h1>

<%= form_for @team do |f| %>
    <ul>
   <li> <%= f.label "Contest" %>
    <%= f.collection_select :contest_id, @contests, :id, :name %></li><br>
    <li><%= f.label "Quarterback Player" %>
    <%= f.collection_select :qb, @players_qb, :id, :name_team_salary %></li><br>
   <li> <%= f.label "Running Back1 Player" %>
    <%= f.collection_select :rb1, @players_rb, :id, :name_team_salary %></li><br>
    <li><%= f.label "Running Back2 Player" %>
    <%= f.collection_select :rb2, @players_rb, :id, :name_team_salary %></li><br>
    <li><%= f.label "Wide Receiver1 Player" %>
    <%= f.collection_select :wr1, @players_wr, :id, :name_team_salary %></li><br>
    <li><%= f.label "Wide Receiver2 Player" %>
    <%= f.collection_select :wr2, @players_wr, :id, :name_team_salary %></li><br>
    <li><%= f.label "Tight End Player" %>
    <%= f.collection_select :te, @players_te, :id, :name_team_salary %></li><br>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.submit "Submit Your Team" %>
    </ul>
    <% end %>

    <% if flash[:errors] %>
    <p style="color:red"><%= flash[:errors][0] %></p>
    <% end %>