
<%=image_tag('football-banner')%>
<div class="container">
<div class ="login">
<h2>LOGIN HERE</h2>
  <%= form_tag('/login', method: :post) do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %><br>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br>
    <br>
    <p style ="bottom: 0.1in"><%= submit_tag 'Log in Here'%></p>
   
  <% end %>

  <% if flash[:message] %>
  <p style="color:red"><%= flash[:message] %></p>
  <%= link_to "Sign Up", new_user_path %>
  <% end %>
  </div>
  </div>

  