<h1>Login Page</h1>
<%= form_tag('/login', method: :post) do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Log in' %>
  <% end %>

  <% if flash[:message] %>
  <p style="color:red"><%= flash[:message] %></p>
  <%= link_to "Sign Up", new_user_path %>
  <% end %>