<h1>Add Balance to User</h1>
<%= form_for :user, url: post_balance_path, method: :patch do |f| %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
    <%= f.label :balance %>
    <%= f.text_field :balance %>
    <%= f.submit %>
<% end %>