<h1><%= @user.username %></h1>
<h2>Balance: <%= @user.balance%></h2>
<h3>Overall Position: <%= @user.overall_position%> </h3>
<h3>My contests: <% @user.contests.each do |contest| %>
    <%= link_to contest.name, contest_path(contest) %> 
<% end %></h3>

<%= link_to "Edit Profile", edit_user_path%>
<%= button_to "Delete User", @user, :method => :delete %>
