<%=image_tag('football-banner')%>
<div class="container">
<% if @user.id == session[:user_id] %>
<h1>Username:<%= @user.username %></h1><br>

<h3>Balance: <%= @user.balance%></h3><br>
<h3>Overall Position: <%= @user.overall_position %></h3><br>

<h3>My contests:</h3><br>
<h4><ul class="list"><% @user.contests.each do |contest| %>
    <li><%= link_to contest.name, contest_path(contest) %></li> <br> 
<% end %></ul></h4><br><br>
<%= link_to "Edit Profile", edit_user_path%>
<%= button_to "Log out", logout_path %>
<br>
<br>
<%= button_to "Delete User", @user, :method => :delete %>

<%else%>
<p style="color:red"><%= "Access is denied"%></p>
<% end %>
</div>
