<h1><%= @user.username %></h1>
<h2>Balance: <%= @user.balance%></h2>
<h3>Overall Position: <%= @user.overall_position%> </h3>
<% @user.contests.each do |contest| %>
    <%= link_to constest.name, contest_path(contest) %> : <%= @user.contest_position %>
<% end %>
