<%=image_tag('football-banner')%>
<div class ="container">
<ul>
<% if @user.teams.any? %>
<% @user.teams.each do |team| %>
 <li> <%= link_to team.contest.name, contest_path(team.contest) %> <%= " - Score: " + @user.score_for_contest(team.contest).to_s %></li>
 <br>
 <%end %>
 <% else %>
 <%= "You do not have any contests yet" %>
  <br>
<span class="center"><%= image_tag ("crying.png") %></span>

   <%end %>
   </ul>
  </div>