<%=image_tag('football-banner')%>
<div class="container">
<h1> PLAYERS</h1><br>
<h3> QUATERBACK </h3><br>
<ol> 
<% @players_qb.each do |player| %>
<li> <%= link_to player.name, player_path(player)%> <em><%= "  " + player.nfl_team_name %></em> </li>
<% end%>
</ol>
<br>
<br>

<h3> RUNNING BACK </h3><br>
<ol> 
<% @players_rb.each do |player| %>
<li> <%= link_to player.name, player_path(player)%> <em><%= "  " + player.nfl_team_name %></em> </li>
<% end%>
</ol>
<br>
<br>

<h3> WIDE RECEIVER </h3><br>
<ol> 
<% @players_wr.each do |player| %>
<li> <%= link_to player.name, player_path(player)%> <em><%= "  " + player.nfl_team_name %></em> </li>
<% end%>
</ol>
<br>
<br>

<h3> TIGHT END </h3><br>
<ol> 
<% @players_te.each do |player| %>
<li> <%= link_to player.name, player_path(player)%> <em><%= "  " + player.nfl_team_name %></em> </li>
<% end%>
</ol>


</div>

