<!DOCTYPE html>
<html>
  <head>
    <title>DailyFantasyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/users/users_contests">My Contests</a></li>
    <% if session[:user_id] && User.find(session[:user_id]).admin %>
      <li><a href="/contests/new">Create Contests</a></li>
      <li><a href="/add_balance">Add Balance</a></li>
    <% end %>
    <li><a href="/users">Users</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/players/analytics">Analytics</a></li>
    
 
    <% if session[:user_id] %>
      <li style="float:right"><a href="/logout">Log Out</a></li>
      <li style="float:right"><a href="/users/<%= session[:user_id] %>">My Profile</a></li>
    <% else %>
      <li style="float:right"><a href="/users/new">Sign Up</a></li>
      <li style="float:right"><a href="/login">Log In</a></li>
    <% end %>

    </ul> 
    <%= yield %>
  </body>
</html>
